.external-section {
    background-color: #e0f7fa;
    padding: 20px;
    margin-top: 30px;

}
.external-section h2{
    color: teal;
    text-align: center;

}
.external-section p {
    font-size: 18px;
    color: #555;
    padding: 10px;
}

.external-section button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
}

.external-section .btn-1 {
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border: none;
}

.external-section .btn-2 {
    background-color: burlywood;
    color: white;
    padding: 10px 20px;
    border: none;
}