main {
  background-image: url(./assets/background-image.png);
  width: 691px;
  height: 825px;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#content-wrapper {
  width: 691px;
  height: 548px;
  background-color: red;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
}
